{% extends "base.html" %}
{% block content -%}
<div class="container">
        <div class="row">
            <div class="col-md-3" >
                <ul class="list-group">
                    <li href="#" class="list-group-item active"  onclick="javascript:window.location.href='statistic'"> 爬虫数据统计</li>
                    <li href="#" class="list-group-item list-group-item-success" onclick="javascript:window.location.href='spider'"> 爬虫任务管理</li>
                </ul>
            </div>
            <div class="col-md-9">
                    <div class="jumbotron">
                      <h1> 电视粉，总有你想看的!</h1>
                      <p>...</p>
                    </div>
            </div>
        </div>
</div>
{%- endblock content %}